* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  max-width: 1400 px;
  display: block;
  margin: auto;
  min-height: 100vh;
  background: #191919;
  font-family: sans-serif;
  overflow-x: hidden;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  background: #1a1a1a;
}

.link-group {
  list-style: none;
  display: flex;
}

.link a {
  color: #fff;
  opacity: 0.5;
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 30px;
  margin: 0 20px;
  line-height: 80px;
  transition: 0.5;
  font-size: 20px;
}

.link a:hover,
.link.active a {
  opacity: 1;
}
/*notes section*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 250px;
  border: solid lightcoral;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
  border-radius: 5px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* cart icon */
.icon-cart {
  width: 48px;
  height: 48px;
  position: relative;
  overflow: hidden;
  margin-left: 25px;
  margin-right: 20px;
  cursor: pointer;
}

.icon-cart .cart-line-1 {
  width: 15%;
  height: 7%;
  position: absolute;
  left: 8%;
  top: 25%;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
  background-color: #000;
  border-bottom-left-radius: 35%;
}

.icon-cart .cart-line-2 {
  width: 35%;
  height: 7%;
  position: absolute;
  left: 6%;
  top: 40%;
  -webkit-transform: rotate(80deg);
  -moz-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  transform: rotate(80deg);
  background-color: #000;
}

.icon-cart .cart-line-2:before {
  content: "";
  width: 120%;
  height: 100%;
  position: absolute;
  left: 45%;
  top: -280%;
  -webkit-transform: rotate(-80deg);
  -moz-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  transform: rotate(-80deg);
  background-color: inherit;
}

.icon-cart .cart-line-2:after {
  content: "";
  width: 70%;
  height: 100%;
  position: absolute;
  left: 59%;
  top: -670%;
  background-color: inherit;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 25%;
}

.icon-cart .cart-line-3 {
  width: 30%;
  height: 7%;
  position: absolute;
  left: 33%;
  top: 45%;
  background-color: #000;
}

.icon-cart .cart-line-3:after {
  content: "";
  width: 124%;
  height: 100%;
  position: absolute;
  top: -150%;
  left: -5%;
  background-color: inherit;
}

.icon-cart .cart-wheel {
  width: 12%;
  height: 12%;
  background-color: #000;
  border-radius: 100%;
  position: absolute;
  left: 28%;
  bottom: 20%;
}

.icon-cart .cart-wheel:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 100%;
  position: absolute;
  left: 200%;
  bottom: 0;
}

.new-item {
  display: none;
  float: right;
  width: 10px;
  height: 10px;
  background-color: #ff4f4f;
  border-radius: 50%;
  margin: 0.1em;
  z-index: 3;
}
/*singup button*/
.sign {
  border: none;
  outline: none;
  width: auto;
  background-color: purple;
  padding: 0.6rem 0.6rem;
  position: relative;
  border-radius: 8px;
  letter-spacing: 0.7px;
  background-color: #5086bd;
  color: #fff;
  font-size: 21px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;
}

.sign:hover {
  opacity: 0.9;
  background-color: rgb(214, 97, 97);
}
/*----------------------login form-----------------*/
.login {
  position: fixed;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32%;
  background-color: white;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 9;
  box-sizing: border-box;
  border-radius: 10px;
}

.close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  font-size: 3.5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.form-modal {
  position: relative;
  width: 400px;
  height: auto;
  margin-top: 0.1rem;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

.form-modal button {
  cursor: pointer;
  position: relative;
  text-transform: capitalize;
  font-size: 1em;
  z-index: 2;
  outline: none;
  background: #fff;
  transition: 0.2s;
}

.form-modal .btn {
  border-radius: 20px;
  border: none;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0.8em 1em 0.8em 1em !important;
  transition: 0.5s;
  border: 1px solid #ebebeb;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.form-modal .login,
.form-modal .signup {
  background: #57b846;
  color: #fff;
}

.form-modal .login:hover,
.form-modal .signup:hover {
  background: #222;
}

.form-toggle {
  position: relative;
  width: 100%;
  height: auto;
}

.form-toggle button {
  width: 50%;
  float: left;
  padding: 1.5em;
  margin-bottom: 1.5em;
  border: none;
  transition: 0.2s;
  font-size: 1.1em;
  font-weight: bold;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.form-toggle button:nth-child(1) {
  border-bottom-right-radius: 20px;
}

.form-toggle button:nth-child(2) {
  border-bottom-left-radius: 20px;
}

#login-toggle {
  background: #57b846;
  color: #ffff;
}

.form-modal form {
  position: relative;
  width: 90%;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
}

#login-form,
#signup-form {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 1em;
}

#signup-form {
  display: none;
}

#login-form button,
#signup-form button {
  width: 100%;
  margin-top: 0.5em;
  padding: 0.6em;
}

.form-modal input {
  position: relative;
  width: 100%;
  font-size: 1em;
  padding: 1.2em 1.7em 1.2em 1.7em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
  border-radius: 20px;
  border: none;
  background: #ebebeb;
  outline: none;
  font-weight: bold;
  transition: 0.4s;
}

.form-modal input:focus,
.form-modal input:active {
  transform: scaleX(1.02);
}

.form-modal input::-webkit-input-placeholder {
  color: #222;
}

.form-modal p {
  font-size: 16px;
  font-weight: bold;
}

.form-modal p a {
  color: #57b846;
  text-decoration: none;
  transition: 0.2s;
}

.form-modal p a:hover {
  color: #222;
}

.form-modal i {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateX(-10%) translateY(-50%);
}

.fa-google {
  color: #dd4b39;
}

.fa-linkedin {
  color: #3b5998;
}

.fa-windows {
  color: #0072c6;
}

.-box-sd-effect:hover {
  box-shadow: 0 4px 8px hsla(210, 2%, 84%, 0.2);
}

.hide {
  display: none;
}

@media only screen and (max-width: 500px) {
  .form-modal {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  i {
    display: none !important;
  }
}
/*---------------------------------------------*/
/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

/*home section*/
.home_container {
  padding-top: 40px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.home_left {
  width: 50vw;
  color: white;
  padding: 2em;
  padding-left: 5em;
}
.home_left h2 {
  font-size: 4em;
  margin-bottom: 0.5em;
  color: #3a3a3a;
  margin-top: 0.5em;
  opacity: 0;
  animation-name: fadeup;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
.home_left h1 {
  font-size: 8em;
  margin-top: -0.2em;
  margin-left: -0.03em;
  animation-name: fadeup;
  opacity: 0;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.home_left h3 {
  font-size: 4em;
  margin-bottom: 0.5em;
  color: #5c5c5c;
  margin-top: 0.2em;
  opacity: 0;
  animation-name: fadeup;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes fadeup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.home_experinces {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5em;
}

.one_exp {
  background-color: #5c5c5c;
  border-radius: 0.6em;
  width: fit-content;
  padding: 0.5em;
  margin: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exp {
  margin-left: 0.4em;
}
.color_one {
  width: 10px;
  height: 10px;
  background-color: #ff4f4f;
  border-radius: 50%;
  margin: 0.1em;
}
.home_right {
  width: 50vw;
}

.home_right img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: top;
}

@keyframes fadeup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.project-section {
  margin: 1em;
  padding: 2em;
  padding-top: 4em;
  height: 100vh;
}

.project-heading {
  font-size: 100px;
  background: #191919;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 50px;
  color: white;
  background-clip: text;
  -wedkit-background-clip: text;
  -wedkit-text-stroke: 8px transparent;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}

.project-card {
  height: 400px;
  position: relative;
}

.project-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: 0.5s;
}

.project-content {
  position: relative;
  padding: 40px;
  color: #fff;
  transition: 0.5s;
  opacity: 0;
}

.project-title {
  font-size: 50px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 300;
}

.project-info {
  margin: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.project-btn-grp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.project-btn.live {
  height: 40px;
  text-transform: capitalize;
  font-size: 18px;
  border: solid white;
  background: #000;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

.project-btn {
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: white;
  background: none;
  border: 2px solid #fff;
  cursor: pointer;
}

.project-card:hover .project-img {
  filter: blur(20px);
}

.project-card:hover .project-content {
  opacity: 1;
}

/*skill section*/
.skill-section {
  position: relative;
  margin: 1em 0;
  margin-bottom: 10em;
}

.heading {
  text-align: center;
  font-size: 60px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 300;
  margin-bottom: 70px;
}

.skill-container {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  color: #fff;
}

.skill-card {
  position: relative;
}

.skill-img {
  display: block;
  margin: auto;
  height: 200px;
}

.skill-name {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  margin: 30px 0 20px;
}

.skill-info {
  text-align: center;
  opacity: 0.5;
  font-size: 18px;
  line-height: 30px;
}

.skill-level {
  position: absolute;
  top: 80px;
  right: 0;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 50%;
  border: 10px solid;
}

.skill-card:nth-child(1) .skill-level {
  background: #ff4f4f28;
  border-color: #ff4f4f;
  color: #ff4f4f;
}

.skill-card:nth-child(2) .skill-level {
  background: #4fa0ff28;
  border-color: #4fa0ff;
  color: #4fa0ff;
}

.skill-card:nth-child(3) .skill-level {
  background: #ffed4f28;
  border-color: #ffed4f;
  color: #ffed4f;
}

.skill-card:nth-child(4) .skill-level {
  background: #52ff4f28;
  border-color: #52ff4f;
  color: #52ff4f;
}

.skill-card:nth-child(5) .skill-level {
  background: #4fdfff28;
  border-color: #4fdfff;
  color: #4fdfff;
}

/*contact*/
.heading1 {
  margin-top: 1em;
  text-align: center;
  font-size: 60px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 200;
  margin-bottom: 7px;
}

.contact-section {
  margin-top: -0.8em;
  position: relative;
  top: 0;
  padding: 100px 150px;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}

::placeholder {
  color: #555;
}

.name {
  margin-top: 10px;
  height: 30px;
  border: solid lightcoral;
}

#name,
#email {
  width: 22.5em;
}

#msg {
  height: 280px;
  resize: none;
  font-family: sans-serif;
  width: 50%;
  margin-bottom: 10px;
  display: block;
  border: solid lightcoral;
  border-radius: 5px;
}

.form-submit-btn {
  background: #ff4f4f;
  color: #fff;
  text-transform: capitalize;
  padding: 15px 40px;
  display: block;
  margin: auto;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.about-section {
  color: #fff;
  font-size: 20px;
  opacity: 0.8;
}

.about-info {
  margin-top: -22em;
  color: #fff;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  opacity: 0.8;
}

/* cart section */
.cart-section {
  position: fixed;
  display: none;
  top: 52%;
  left: 50%;
  width: 70%;
  height: 85%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to bottom right, #e3f0ff, #fafcff);
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 9;
  box-sizing: border-box;
  border-radius: 10px;
}
.Header {
  margin: auto;
  width: 90%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hheading {
  font-size: 30px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  color: #2f3841;
}
.Action {
  font-size: 14px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  color: #e44c4c;
  cursor: pointer;
  border-bottom: 1px solid #e44c4c;
}
.Cart-Items {
  margin: auto;
  width: 90%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-box {
  width: 15%;
  text-align: center;
}
.about {
  height: 100%;
}
.title {
  padding-top: 25px;
  line-height: 10px;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 800;
  color: #202020;
}
.subtitle {
  padding-top: 18px;
  line-height: 10px;
  text-transform: capitalize;
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  color: #909090;
}

.trend {
  width: 15%;
  padding-left: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgb(247, 247, 164);
  font: solid;
  color: #909090;
}
.prices {
  height: 100%;
  text-align: right;
}
.amount {
  padding-top: 20px;
  font-size: 26px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 800;
  color: #202020;
}
.save {
  padding-top: 5px;
  font-size: 14px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  color: #1687d9;
  cursor: pointer;
}
.remove {
  padding-top: 5px;
  font-size: 14px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  color: #e44c4c;
  cursor: pointer;
}
hr {
  width: 66%;
  float: right;
  margin-right: 5%;
}
.checkout {
  float: right;
  margin-right: 5%;
  width: 28%;
}
.total {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.Subtotal {
  font-size: 22px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  color: #202020;
}
.items {
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 500;
  color: #909090;
  line-height: 10px;
}
.total-amount {
  font-size: 36px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 900;
  color: #202020;
}
.button {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  border: none;
  background: linear-gradient(to bottom right, #b8d7ff, #8eb7eb);
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  color: #202020;
}
.empty-cart {
  align-items: center;
  margin: 1rem;
  padding: 50px;
  border: solid;
}
.empty-img {
  height: 120px;
  width: auto;
  opacity: 0.7;
}
.empty-message {
  font-size: 30px;
  margin: 90px;
  margin-top: 40px;
  text-transform: capitalize;
  margin-left: 33%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 1200px) {
  .skill-section {
    margin-top: 5rem;
  }
  #msg {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .project-section {
    display: block;
  }
  .skill-section {
    margin-top: -8rem;
  }
  .about-info {
    margin-top: 10rem;
  }
}
